
.color{
	font-family: New Century Schoolbook;

	color: red;
	font-size: 50px;
	text-align: center;
	padding: 20px;

}
.see-more{
	font-family: New Century Schoolbook;

	color: red;
	font-size: 50px;
	padding: 50px 50px;
}
.see-more a:hover{
		color: white ;       

}
.khaled{
	font-family: New Century Schoolbook;

	color: white;
	font-size: 20px;
	text-align: center;

}
.colo {
	background-color: white ;
}
.pic{
			border:solid red  10px;
		border-radius: 50%;
		height: 500px;
}

body {
	background-color: black;
}
h1{
	color: red;
	text-align: center;
	font-size:40px;

}



h1{
	color: red ;
	text-align: center;
}
.nav_bar {
	color: black;
	border: 5px;
	border: solid black 5px ;
	background-color: #DCDCDC ;
/*	background-image: url(../images/8.jpg);
*/	
}
.nav_bar a {
	color: black;
	font-size: 40px ;
}
.nav_bar li{
	padding: 60px;

}











