<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">


    </head>
<body>
<form  method="post" action="/Adminform">


<div class="form-check form-check-inline khaled">
  <input class="form-check-input" type="radio" name = "section" id="inlineRadio1" value="food">
  <label class="form-check-label " for="inlineRadio1">food</label>
</div>

<div class="form-check form-check-inline khaled">
  <input class="form-check-input" type="radio" name = "section" id="inlineRadio2" value="folkolre">
  <label class="form-check-label" for="inlineRadio2">folkolre</label>
</div>

<div class="form-check form-check-inline khaled">
  <input class="form-check-input" type="radio" name = "section" id="inlineRadio2" value="history">
  <label class="form-check-label" for="inlineRadio2">history</label>

</div>

<div class="form-check form-check-inline khaled">
  <input class="form-check-input" type="radio" name = "section" id="inlineRadio2" value="dresses">
  <label class="form-check-label" for="inlineRadio2">dresses</label>

</div>


  <div class="form-group">
    <label for="exampleInputEmail1"  class="khaled">title</label>
    <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1" class="khaled">subject</label>
    <input type="text" class="form-control" name="subject"  id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"  class="khaled">link</label>
    <input type="text" class="form-control" name="link" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"  class="khaled">photo_Link</label>
    <input type="text" class="form-control" name="photo_link" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

</body>
</html>






</body>
</html>