{% extends "layout.html" %}
{% block body %}


<h1>Introduction</h1>
<div class="know">
	<p>since Palestine is not a well-known country,we decided to make this website to let the world know our country perfectly and get deeper into it .
	If you are curious and you are aiming to have more knowledge about Palestine or if you are thinking to visit it but you know nothing about it,our website is the solution for you! It's all about a ride! through it you can recognize many things such as: Palestine's hisory,traditions,food,popular dresses,folklore etc.. </p>
</div>


<h1>What are you wondering to know?Click below!</h1>"

<div class="img-with-text">

 <a href="/folklore">
  <img src="../static/images/folk.jpg" height="270px" width="250" class="folk_pic" alt="sometext" />
  <p style="width:100%" class="big">Folklore</p>

</a> 
</div>

<div class="img-with-text">
 <a href="/food">
  <img src="../static/images/food1.jpg" height="270px" width="250" class="food_pic" alt="sometext" />
  <p style="width:100%" class="big">Food</p>

</a> 
</div>


<div class="img-with-text">
 <a href="/dresses">
  <img src="../static/images/3.jpg" height="270px" width="250" class="dresses_pic" alt="sometext" />
  <p style="width:100%" class="big">Dresses</p>

</a> 
</div>


<div class="img-with-text">
 <a href="/history">
  <img src="../static/images/hidtory.jpg" height="270px" width="250" class="history_pic" alt="sometext" />
  <p style="width:100%" class="big">History</p>

</a> 
</div>




<h1 class="ourpic"> Who We Are :- </h1>
	
<div class="img-with-text">
    <<img src="../static/images/renan.jpg" height="200px" width="auto" class="renan_pic" alt="sometext" />
	<p style="width:100%" class="know">Renan Sa'ed,16 years old,Gaza</p>
</div>


<div class="img-with-text">
    <<img src="../static/images/khaled.jpg" height="200px" width="auto" class="khaled_pic" alt="sometext" />
   	<p style="width:100%" class="know">Khaled Al-hindawy,17years old,Gaza</p>
</div>


<div class="img-with-text">
    <<img src="../static/images/bakeza.jpg" height="200px" width="auto" class="bakeza_pic" alt="sometext" />
  
	<p style="width:100%" class="know">Bakeza Diazada,16 years old,Gaza </p>
</div>




{% endblock %}



